.slide {
    margin-top: 110px;
}

[data-component="slideshow"] .slide {
    display: none;
  }

  [data-component="slideshow"] .slide.active {
    display: block;
  }

#slideshow-example {
    display: flex;
    justify-content: center;
}

.edasi {
    margin-left: 6rem;
    margin-top: 3rem;
    font-size: 30px;
}

@media only screen and (max-width: 768px){
.edasi {
    font-size: 2rem;
}
.img-show{
    width: 360px;
}
}
